body{
            background-color: rgb(25, 25, 25);
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-content: center;
            justify-content: center;
        }
        .rps{
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            text-decoration: underline;
        }
        .move-icon{
            height: 60px;
        }
        .move-button{
            background-color: transparent;
            border: 3px solid white;
            border-radius: 60px;
            width: 120px;
            height: 120px;
            margin-right: 10px;
            cursor: pointer;
            margin-bottom: 35px;
        }
        .js-result{
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
        .Reset, .auto{
            /* font-weight: bold; */
            font-size: 15px;
            height: 30px;
            width: 100px;
            margin-top: 40px;
        }
        .game{
            height: auto;
            width: auto;
            border: 20px red;
            background-color: rgb(48, 141, 141);
            padding: 20px;
            margin: 50px;
        }
        .js-moves{
            display: flex;
            align-items: center;
            justify-content: space-around
        }
        .js-score{
            text-align: center;
            color: rgb(0, 0, 0);
            font-weight: 500;
            font-size: large;
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        @media(max-width:500px){

        .teeno{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }